
extends layout

block content
  h1= title   
  p.mt <br> Coffee Shop was first introduced as just an idea to family and friends -- and then became an opportunity to revive a unique space in a deeply rooted and historical setting. We feel that there is a real need for a comfortable gathering place where you can enjoy a fine cup of coffee or specialty tea, in a relaxing atmosphere... in that, Coffee Shop was born.